<div class="row">
    <div class="col d-flex justify-content-center big">
        <div *ngIf="!!currentVerb">
            <table>
                <tr>
                    <th scope="col">
                        <div class="wide">Français</div>
                    </th>
                    <th scope="col">
                        <div class="wide">Imperfectif</div>
                    </th>
                    <th scope="col">
                        <div class="wide">Perfectif</div>
                    </th>
                    <th *ngIf="!!currentVerb.russian.undeterminated" scope="col">
                        <div class="wide">Indéterminé</div>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="wide vertical-align">{{ currentVerb.french }}</div>
                    </td>
                    <td>
                        <div *ngIf="firstNext" class="wide vertical-align">{{ currentVerb.russian.imperfective }}</div>
                    </td>
                    <td>
                        <div *ngIf="firstNext" class="wide vertical-align">{{ currentVerb.russian.perfective }}</div>
                    </td>
                    <td *ngIf="!!currentVerb.russian.undeterminated">
                        <div *ngIf="firstNext" class="wide vertical-align">{{ currentVerb.russian.undeterminated }}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="vertical-align d-flex justify-content-center">
    <button class="btn btn-primary space-around big" [disabled]="index.previous === undefined" (click)="previous()">Précédent</button>
    <button class="btn btn-primary space-around big" (click)="next()">Suivant</button>
</div>