<app-interactive-table [name]="nounsService.name"
                       [data]="nounsService.data"
                       [currentItem]="nounsService.currentItem"
                       [priority]="nounsService.priority"
                       [isValidData]="nounsService.isValidData"
                       [firstNext]="nounsService.firstNext"
                       [index]="nounsService.index"
                       (reload)="onReload()"
                       (changePriority)="onChangePriority($event)"
                       (previous)="onPrevious()"
                       (next)="onNext()">
</app-interactive-table>
