<app-interactive-table [name]="'noms'"
                       [data]="nounsService.nouns"
                       [currentData]="nounsService.currentNoun"
                       [priority]="nounsService.priority"
                       [isValidData]="nounsService.isValidData"
                       [firstNext]="nounsService.firstNext"
                       [index]="nounsService.index"
                       (reload)="onReload()"
                       (changePriority)="onChangePriority($event)"
                       (previous)="onPrevious()"
                       (next)="onNext()">
</app-interactive-table>
