<div class="mx-5 main-page">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <app-adjective></app-adjective>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <app-noun></app-noun>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <app-conjunction></app-conjunction>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <app-phrase></app-phrase>
      </div>
    </div>
  </div>
  <div class="vertical-align">
    <app-verb></app-verb>
  </div>
</div>
