<div *ngIf="verbsService.verbs.length > 0; else noData">
    <div *ngIf="!!verbsService.currentVerb else selectPriority">
        <span *ngIf="verbsService.counter > 0">
            Vous avez vu <strong>{{ verbsService.counter }}</strong> 
            verbe{{ verbsService.counter > 1 ? 's' : ''}} de priorité {{ verbsService.priority }}.
        </span>&nbsp;
    </div>
    <ng-template #selectPriority>
        <div *ngIf="verbsService.priority === undefined; else noDataForSelectedPriority">
            <div *ngIf="verbsService.isValidData; else wrongData">
                Choix de la priorité.
            </div>
            <ng-template #wrongData>
                Données invalides!
            </ng-template>
        </div>
        <ng-template #noDataForSelectedPriority>
            Pas de données pour cette priorité.
        </ng-template>
    </ng-template>
</div>
<ng-template #noData>
    Pas de données.
</ng-template>
