<table class="fixed">
    <tr>
        <th scope="col">
            <div class="adjust">Français</div>
        </th>
        <th scope="col">
            <div class="adjust">Russe</div>
        </th>
    </tr>
    <tr>
        <td>
            <div class="adjust">
                <span *ngIf="data.length > 0 && !!currentItem">
                    {{ currentItem?.french }}
                </span>&nbsp;
            </div>
        </td>
        <td>
            <div class="adjust">
                <span *ngIf="data.length > 0 && !!currentItem
                            && firstNext">
                    {{ currentItem?.russian }}
                </span>
            </div>
        </td>
    </tr>
</table>
