<table class="fixed">
    <tr>
        <th scope="col">
            <div class="wide">Français</div>
        </th>
        <th scope="col">
            <div class="wide">Imperfectif</div>
        </th>
        <th *ngIf="!(data.length > 0 && !!currentItem)
                   || (currentItem?.perfective !== '-')" scope="col">
            <div class="wide">Perfectif</div>
        </th>
        <th *ngIf="!!currentItem
                   && currentItem.undeterminated !== '-'" scope="col">
            <div class="wide">Indéterminé</div>
        </th>
    </tr>
    <tr>
        <td>
            <div class="wide vertical-align">
                <span *ngIf="data.length > 0 && !!currentItem">
                    {{ currentItem?.french }}
                </span>&nbsp;
            </div>
        </td>
        <td>
            <div class="wide vertical-align">
                <span *ngIf="data.length > 0 && !!currentItem
                            && firstNext">
                    {{ currentItem?.imperfective }}
                </span>
            </div>
        </td>
        <td *ngIf="!(data.length > 0 && !!currentItem) 
                   || (!!currentItem && currentItem.perfective !== '-')">
            <div class="wide vertical-align">
                <span *ngIf="firstNext">
                    {{ currentItem?.perfective }}
                </span>
            </div>
        </td>
        <td *ngIf="!!currentItem 
                   && currentItem.undeterminated !== '-'">
            <div *ngIf="firstNext" class="wide vertical-align">
                <span>
                    {{ currentItem?.undeterminated }}
                </span>
            </div>
        </td>
    </tr>
</table>