<table class="fixed">
    <tr>
        <th scope="col">
            <div class="d-flex justify-content-center">Français</div>
        </th>
        <th scope="col">
            <div class="d-flex justify-content-center">Imperfectif</div>
        </th>
        <th *ngIf="!(data.length > 0 && !!currentItem)
                   || (currentItem?.perfective !== '-')" scope="col">
            <div class="d-flex justify-content-center">Perfectif</div>
        </th>
        <th *ngIf="!!currentItem
                   && currentItem.undeterminated !== '-'" scope="col">
            <div class="d-flex justify-content-center">Indéterminé</div>
        </th>
    </tr>
    <tr>
        <td>
            <div class="d-flex justify-content-center arial biggest">
                <span *ngIf="data.length > 0 && !!currentItem">
                    {{ currentItem?.french }}
                </span>&nbsp;
            </div>
        </td>
        <td>
            <div class="d-flex justify-content-center arial answer biggest">
                <span *ngIf="data.length > 0 && !!currentItem
                            && firstNext">
                    {{ currentItem?.imperfective }}
                </span>
            </div>
        </td>
        <td *ngIf="!(data.length > 0 && !!currentItem) 
                   || (!!currentItem && currentItem.perfective !== '-')">
            <div class="d-flex justify-content-center arial answer biggest">
                <span *ngIf="firstNext">
                    {{ currentItem?.perfective }}
                </span>
            </div>
        </td>
        <td *ngIf="!!currentItem 
                   && currentItem.undeterminated !== '-'">
            <div *ngIf="firstNext" class="d-flex justify-content-center arial answer biggest">
                <span>
                    {{ currentItem?.undeterminated }}
                </span>
            </div>
        </td>
    </tr>
</table>