body {
  background-color: rgb(206, 217, 218);
}
.main-page {
  margin-top: 3em;
}
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}
th {
  background-color: aliceblue;
}
td {
  background-color: rgb(247, 251, 255);
}
table.fixed {
  table-layout: fixed;
  width: 100%;
}
table.fixed th {
  overflow: hidden;
  height: 50px;
}
table.fixed td {
  overflow: hidden;
  height: 150px;
}
.arial {
  font-family: Arial, Helvetica, sans-serif;
}
.answer {
  color: rgb(23, 111, 114);
}
.medium {
  font-size: large;
}
.big {
  font-size: x-large;
}
.biggest {
  font-size: xx-large;
}
.selected {
  background-color: rgb(167, 212, 255);
  font-weight: bold;
}
.space-around {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.more-space-around {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  margin-bottom: 2em;
}
.space-bellow {
  margin-bottom: 3em;
}
.summary .summary-item:not(:last-child) {
  margin-bottom: 1em;
}
