<p-card>
    <div class="summary">
        <div *ngIf="[0, 1].includes(tabIndex)" class="summary-item">
            <app-info-content [name]="{ title: 'Verbes', singular: 'verbe' }"
                                [data]="verbsService.verbs"
                                [currentData]="verbsService.currentVerb"
                                [counter]="verbsService.counter"
                                [priority]="verbsService.priority"
                                [isValidData]="verbsService.isValidData">
            </app-info-content>
        </div>
        <div *ngIf="[0, 2].includes(tabIndex)" class="summary-item">
            <app-info-content [name]="{ title: 'Noms', singular: 'nom' }"
                                [data]="verbsService.verbs"
                                [currentData]="verbsService.currentVerb"
                                [counter]="verbsService.counter"
                                [priority]="verbsService.priority"
                                [isValidData]="verbsService.isValidData">
            </app-info-content>
        </div>
    </div>
</p-card>
